/******************FOOTER*****************/
#eps-footer{
    background: none !important;
    margin: 0px !important;
    padding: 0px;
}
#eps-footer.footer{
    padding: 0px;   
}
footer{
    background-color: rgba(0,0,0,0);
    background-image: none;
}

.footer-new-home{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: auto;
    padding-bottom: 80px;
}
#footer-seguros{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#footer-seguros-container{
    position: relative;
    width: 1200px;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0px;
    display: block;
    box-sizing: border-box;
}
.footer1,.footer2,.footer4{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 15px;
    border-bottom: #e6e7ed solid 1px;
}
.footer2{
    align-items: stretch;
}
.footer3{
    position: relative;
    display: block;
    margin: 0px;
    padding: 20px 0px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: #e6e7ed solid 1px;
}
.footer4{
    padding: 20px 0px;
    border-bottom: none;
}

.footer1-logoseguros{
    height: 65px;
    width: auto;
}
.footer1 img{
    display: block;
    margin: 0px;
    height: 42px;
    width: auto;
    margin-right: 10px;
}
/*.footer1-logosura{
    height: 42px;
    width: auto;
}*/

.footer2 .footer2-col:first-child{
    justify-content: center;
}
.footer2 .footer2-col:first-child img{
    height: 150px;
    width: auto;
    margin: 0px;
    display: block;
}

.footer2-col{
    position: relative;
    display: flex;
    width: 25%;
    height: auto;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.footer2-col > h6{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;

    font-family: 'Barlow-Bold';
    font-size: 15px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.footer2-col > h6 a{
    color: inherit;
    font-family: inherit;
}
.footer2-col > ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.footer2-col > ul > li{
    margin: 0px;
    margin-bottom: 5px;
    display: block;
    padding: 0px;

    font-family: 'Barlow-Regular';
    font-size: 14px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    text-decoration: none !important;
}
.footer2-col > ul > li a{
    text-decoration: inherit !important;
    color: inherit !important;
    font-family: inherit !important;
}
.footer2-col > ul > li span{
    font-family: 'Barlow-Bold';
}

.footer2-1{
    display: none;
}

.footer3-col-collapsed{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    overflow: hidden;

    transition: max-height 0.2s;
    -webkit-transition: max-height 0.2s;
}

.footer3-nav,.footer3-title{
    position: relative;
    display: flex;
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    font-family: 'Barlow-Bold';
    font-size: 15px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    text-align: left;
}
.footer3-title{
    width: 100%;
    height: 30px;
    justify-content: left;
    align-items: center;
    display: none;
    cursor: pointer;
}
.footer3-nav a{
    text-decoration: inherit !important;
    color: inherit !important;
    font-family: inherit !important;
}

.footer-copyright{
    display: flex;
    margin: 0px;
    padding: 0px;

    font-family: 'Barlow-Regular';
    font-size: 13px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    text-align: left;
}
.footer-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.footer-redes p{
    display: flex;   
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    margin-left: 20px !important;
    padding: 0px;
}
.footer-redes p a{
    text-decoration: inherit !important;
    color: inherit !important;
    font-family: inherit !important;
}
.footer-redes p i{
    color: #53565A;
    font-size: 16px;
}
.footer-redes p:first-child,.footer-redes p:last-child{
    display: block;
    font-family: 'FSJoey-Bold';
    font-size: 18px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    padding: 0px;
    text-decoration: none !important;
}
.footer-redes p:first-child{
    margin-left: 0px;
}
.footer-redes p:last-child{
    font-style: italic;
}
.dummy-chat-content-oculto{
    display: none !important;
}

.tooltip-correo-judicial{
    position: absolute;
    width: 110%;
    height: auto;
    background-color: #0033A0;
    border-radius: 4px;
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding: 7px;
    margin: 0px;

    display: flex;
    align-items: center;

    font-family: 'Barlow-Regular';
    font-size: 15px;
    color: #FFFFFF;
    text-align: left;
    font-weight: normal;
    line-height: normal;

    top: 100%;
    top: calc(100% + 10px);
    top: -moz-calc(100% + 10px);
    left: 0px;

    visibility: hidden;
    z-index: 10;
}
.tooltip-correo-judicial i{
    margin-right: 7px;
    font-size: 20px;
}
.tooltip-correo-judicial::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: 20%;
    top: -10px;
    border-left: rgba(0,0,0,0) solid 5px;
    border-right: rgba(0,0,0,0) solid 5px;
    border-bottom: #0033A0 solid 10px;
}

.tooltip-correo-judicial-span{
    position: relative;
    cursor: pointer;
}
.tooltip-correo-judicial-span:hover .tooltip-correo-judicial{
    visibility: visible;
}

/**************MODAL ENGLISH*****************/
#modal-english,#modal-english2{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
}

#modal-english-box{
    position: absolute;
    width: auto;
    height: auto;
    min-width: 490px;
    max-width: 100%;
    max-width: calc(100% - 30px);
    max-width: -moz-calc(100% - 30px);
    box-sizing: border-box;
    margin: 0px;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: #FFFFFF;

    transition: opacity 0.25s, transform 0.25s, -moz-transform 0.25s, -webkit-transform 0.25s, -o-transform 0.25s;
    -webkit-transition: opacity 0.25s, transform 0.25s, -moz-transform 0.25s, -webkit-transform 0.25s, -o-transform 0.25s;
}

#modal-english-box h1{
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;

    font-family: 'Barlow-Bold';
    font-size: 22px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    margin-top: 20px;
}

.modal-english-box-text{
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0px 10px 0px;
    padding: 0px;
}
.modal-english-box-text p{
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;

    font-family: 'Barlow-Regular';
    font-size: 14px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    text-align: left;
}
.modal-english-box-text p span{
    font-family: 'Barlow-Bold';
}

.modal-english-row{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.modal-english-col{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.29);
    box-sizing: border-box;

    width: 100px;
    height: 100px;
    margin: 0px 8px;
    padding: 0px;
    cursor: pointer;
}
.modal-english-col > img{
    display: block;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0px;
    margin-bottom: 7px;
}
.modal-english-col > h5{
    display: block;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: none;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}

.modal-english-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}
.modal-english-buttons button{
    outline: none;
    outline-width: 0;
    width: auto;
    height: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    box-sizing: border-box;
    border-radius: 17px;
    padding: 0px 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;

    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
}
.modal-english-buttons button a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
.modal-english-buttons button:hover{
    background-color: #0033A01A;
    cursor: pointer;
}

.modal-english-off{
    visibility: hidden;
    background-color: rgba(0,0,0,0);

    transition: visibility 0.25s, background-color 0.25s;
    -webkit-transition: visibility 0.25s, background-color 0.25s;
}
.modal-english-on{
    visibility: visible;
    background-color: #53565A6F;

    transition: visibility 0s, background-color 0.25s;
    -webkit-transition: visibility 0s, background-color 0.25s;
}

.modal-english-off #modal-english-box{
    opacity: 0;
    transform: scale(0.7) translateY(-50px);
    -webkit-transform: scale(0.7) translateY(-50px);
    -o-transform: scale(0.7) translateY(-50px);
}
.modal-english-on #modal-english-box{
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
}


/*****************************RESPONSIVE*************************/

@media (max-width: 767px){

    /*******modal********/
    #modal-english-box{
        min-width: 450px;
        padding: 15px 30px;
        border-radius: 6px;
    }
    
    #modal-english-box h1{
        font-size: 20px;
        margin-top: 15px;
    }
    
    .modal-english-box-text{
        margin: 10px 0px 20px 0px;
    }
    .modal-english-box-text p{
        font-size: 14px;
    }
    .modal-english-col > h5{
        font-size: 15px;
    }
    
    .modal-english-buttons{
        justify-content: center;
        height: 30px;
    }
    .modal-english-buttons button{
        width: 46%;
        border-radius: 15px;
        padding: 0px;
    
        font-size: 15px;
        margin-left: 2%;
        margin-right: 2%;
        background-color: #0033A01A !important;
        cursor: pointer;
    }

    .tooltip-correo-judicial{
        visibility: visible;
        position: relative;
        left: initial;
        top: initial;
        width: 90%;
        box-shadow: none;
        margin-top: 12px;
    }
    
}


@media (max-width: 519px){
    /*******modal********/

    #modal-english-box{
        min-width: initial;
        max-width: initial;
        width: 100%;
        width: calc(100% - 30px);
        width: -moz-calc(100% - 30px);
        padding: 10px 20px;
        border-radius: 5px;
    }

    #modal-english-box h1{
        font-size: 16px;
        margin-top: 15px;
    }
    
    .modal-english-box-text{
        margin: 10px 0px 10px 0px;
    }
    .modal-english-box-text p{
        font-size: 13px;
    }
    .modal-english-col{
        width: 90px;
        height: 90px;
        margin: 0px 5px;
        border-radius: 2px;
    }
    .modal-english-col > img{
        width: 40px;
        height: 40px;
    }
    .modal-english-col > h5{
        font-size: 14px;
    }
    
    .modal-english-buttons{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .modal-english-buttons button{
        width: 200px;
        height: 30px;
        border-radius: 15px;
        padding: 0px;
    
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}